{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}

<div class="container-fluid not-found-head particles" >
  <canvas id="particles" class="hidden-xs"></canvas>
 	<div class="centered not-found">
      <h1>4()4</h1>
      <h2>Link you are looking for is not present or removed!</h2>
      <br/>
      <br/>
      <h3>Try visiting</h3>
      <br/>
      <br/>
      <a class="btn btn-dark" href="/" role="button">Home</a>

      </div>
</div>
{% endblock content %}


{% block otherjs %}
  <script src="{% static 'js/jq.js' %}"></script>
  <script src="{% static 'js/TweenMax.min.js' %}"></script>
  <script src="{% static 'js/particles.js' %}"></script>

{% endblock otherjs %}


