{% extends "base.html" %}
{% load static from staticfiles %}
{% load cloudinary %}

{% block content %}


<div class="container-fluid profile-head particles" style="background-image: url({% static 'img/triangles.svg' %}); background-size: cover;">
  <canvas id="particles" class="hidden-xs"></canvas>
  {% if setting and setting.defprofile.image %}
      {% cloudinary setting.defprofile.image class="img-fluid rounded-circle profile-img" format="jpg" width=180 height=180  crop="thumb" %}
  {% else %}
  <img class="img-fluid rounded-circle profile-img" src="https://i.imgur.com/jaoR39t.jpg">
  {% endif %}
</div>

  <div class="container page profile-details ">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 intro">
          <h2>Hi there!</h2>
          <div class="wrapper">
          <div class="about-me">
          </div>

          <div class="about-me-more">
              {% if setting and setting.defprofile.bio %}
              {% autoescape off %}
                      {{ setting.defprofile.bio }}
                  {% endautoescape %}
              {% else %}
              Add bio here
              {% endif %}
            
            </div>
        </div>
        
         </div>
         <div class="col-md-2"></div>
        </div>
  </div>
{% endblock content %}


{% block otherjs %}
  <script src="{% static 'js/jq.js' %}"></script>
  <script src="{% static 'js/TweenMax.min.js' %}"></script>
  <script src="{% static 'js/particles.js' %}"></script>

{% endblock otherjs %}


