{% extends "base.html" %}
{% load static from staticfiles %}
{% load cloudinary %}

{% block othercss %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block meta %}
{% if setting.description %}
<meta name="description" content="{{ setting.description }}" />
{% endif %}
{% if setting.sitetitle %}
<meta property="og:site_name" content="{{ setting.sitetitle }}" />
{% endif %}
{% if setting.fbappid %}
<meta property="fb:app_id" content="{{ setting.fbappid }}" />
{% endif %}
{% if setting.fblink %}
<meta property="article:publisher" content="{{ setting.fblink }}" />
<meta property="fb:page_link" content="{{ setting.fblink }}" />
{% endif %}
{% if setting.twitterid %}
<meta name="twitter:handle" content="@{{ setting.twitterid }}" />
<meta name="twitter:creator" content="@{{ setting.twitterid }}" />
<meta name="twitter:site" content="@{{ setting.twitterid }}" />
{% endif %}

{% if setting.sitevarification %}
<meta name="google-site-verification" content="{{ setting.sitevarification }}" />
{% endif %}
<meta property="og:title" content="{{ post.title }}" />
{% if post.summary %}
<meta property="og:description" content="{{ post.summary }}"/>
{% else %}
<meta property="og:description" content="{{ post.content|striptags|truncatewords:20 }}"/>
{% endif %}
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary" />
<meta property="og:url" content="{{ page_url }}" />
<meta property="og:keywords" content="{{ seo_tags }}" />

{% if og_image  %}
<meta property="og:image" content="{{ og_image }}"/>
{% endif %}

<meta property="og:updated_time" content="{{ meta_modified }}"/>
<meta property="article:modified_time" content="{{ meta_modified }}" />
<meta property="article:author" content="{{ post.author_name }}"/>
{% endblock meta %}

{% block content %}
{% if post == None %}
No post found
{% else %}
{% if setting and setting.blog_featured_active %}
{% if post.featuredimage %}
<style>
  .back-ground-img{
    background-image:url('{% cloudinary_url post.featuredimage %}');
  }
</style>
<div class="container-fluid blog-cover-image back-ground-img"> 
</div>
{% elif default_featured %}
<style>
  .back-ground-img{
    background-image:url('{% cloudinary_url default_featured %}');
  }
</style>
<div class="container-fluid blog-cover-image back-ground-img" > </div>
{% else %}
<div class="container-fluid blog-cover-image" style="background-image: url('https://i.imgur.com/LJI8yg9.jpg');"></div>
{% endif %}
{% endif %}

 <div class="container-fluid blog">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 intro">
          <div class="blog-content-top">
              <h1 class="blog-title">{{ post.title }}</h1>
              {% if post.summary %}
              <h6 class="blog-summary">{{ post.summary }}</h6>
              {% endif %}
              <div class="author">
              <div class="author-img">
                
              {% if author_image %}
              {% cloudinary author_image class="img-fluid rounded-circle author-img" format="jpg" width=48 height=48  crop="thumb" %}
              {% else %}
              <img class="img-fluid rounded-circle author-img" src="https://i.imgur.com/jaoR39t.jpg" crossOrigin="anonymous" />
              {% endif %}
              </div>
              <div class="author-name">
              <span class="name">{{ post.author_name }}</span>
              <span class="date">{{ post.created |date:'d, M Y' }}</span>
              </div>
              <div class="share-buttons">
                      <a class="" href="/share?site=linkedin&slug={{ post.slug }}"><i class="fab fa-2x fa-linkedin"></i></a>
                      <a class="" href="/share?site=twitter&slug={{ post.slug }}"><i class="fab fa-2x fa-twitter-square"></i></a>
                      <a class="" href="/share?site=facebook&slug={{ post.slug }}"><i class="fab fa-2x  fa-facebook"></i></a>
            </div>
            
              </div>
              <div class="blog-content">
                  {% autoescape off %}
                      {{ post.content }}
                  {% endautoescape %}
              </div>

        </div>
        {% if setting.disqusname %}

        <div id="disqus_thread"></div>
        <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

        var disqus_config = function () {
        this.page.url = "{{ page_url }}";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "{{ page_id }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };

        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://{{ setting.disqusname }}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        {% endif %}

        </div>
        <div class="col-md-2"></div>
      </div>
    </div>


{% endif %}




{% endblock content %}


{% block otherjs %}
{% endblock otherjs %}


