{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}
<h2>blog</h2>
  <div class="container page blog-details ">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 intro">
          
          <div class="wrapper">
          <div class="about-me">
          </div>

          <div class="about-me-more">
            <br>
            <br>
            </div>
        </div>
        
         </div>
        </div>
  </div>
{% endblock content %}


{% block otherjs %}
{% endblock otherjs %}


