{% extends "base.html" %}
{% load static from staticfiles %}

{% block othercss %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block content %}

  <div class="container page blog-list ">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
          <h2 class="blog-head">Blog Posts</h2>

          {% for c in posts %}
            <a class="row post" href="/blog/{{ c.slug }}">
                <div class="img col col-5"> 
                  
                  {% if c.featuredimage %}
                    <img class="img-fluid" src="{{ c.featuredimage }}">
                  {% elif c.featuredurl %}
                    <img class="img-fluid" src="{{ c.featuredurl }}">
                  {% else %}
                  <!-- if no default blog featured image -->
                    <img class="img-fluid" src="https://i.imgur.com/LJI8yg9.jpg">
                  {% endif %}
                
                </div>
                <div class="col col-7">
                                  <h2>{{ c.title }}</h2>
                  <p>{{ c.content|striptags|truncatewords:20 }}...</p>
                </div>
            </a>
          {% endfor %}
          <div class="pagecount">
            Page {{ page }} out of {{ last_page }}
          </div>
          <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if page == 1 %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link" href="/blog/?page={{ prev_page }}" tabindex="-1">Previous</a>
    </li>
    {% endif %}

    {% if next_page %}
      <li class="page-item">
        <a class="page-link" href="/blog/?page={{ next_page }}" tabindex="-1">Next</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Next</a>
      </li>
    {% endif %}
    
  </ul>
</nav>
         </div>
        </div>
  </div>
{% endblock content %}


{% block otherjs %}
{% endblock otherjs %}


