{% extends "base.html" %}
{% load static from staticfiles %}
{% load cloudinary %}

{% block othercss %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block content %}

  <div class="container page ">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
          <h2 class="blog-head">
            Recent projects
          </h2>
          {% if count > 0 %}
           <div class="row ">

              {% for p in projects %}
              <div class="col  col-sm-6">
              <div class="img  row"> 
                    <div class="img project-hover col"> 
                    {% if p.thumbnail %}
                      {% cloudinary p.thumbnail class="img-fluid" format="jpg" width=270 height=180 crop="fill" %}
                    {% else %}
                    <!-- if no default project featured image -->
                      <img class="img-fluid" src="https://i.imgur.com/LJI8yg9.jpg">
                    {% endif %}
                    <div class="overlay">
                      <div class="overlay-text">
                        {% if p.codeurl %}
                        <a class="btn btn-info" href="{{ p.codeurl }}" role="button">Code</a>
                        {% endif %}
                        {% if p.blogurl %}
                        <a class="btn btn-info" href="{{ p.blogurl }}" role="button">Blog</a>
                        {% endif %}
                        {% if p.liveurl %}
                        <a class="btn btn-info live" href="{{ p.liveurl }}" role="button">Live Demo</a>
                        {% endif %}
                        
                      </div>
                    </div>
                  </div>
                  </div>
                  <div class="row">
                   <div class="col desc">
                                    <h4>{{ p.title }}</h4>
              
                
              </div>
              </div>
          </div>
            
            {% endfor %}
            
          </div>

          {% else %}
            <br/>
            <h3 class="center">No projects found.</h3>
          {% endif %}  

         </div>
        </div>
  </div>
{% endblock content %}


{% block otherjs %}
{% endblock otherjs %}


