{% extends "base.html" %}
{% load static from staticfiles %}

{% block othercss %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block content %}

  <div class="container page blog-list ">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
          <h2 class="blog-head">
            Update your subscription
          </h2>
          {% if unsubscribe %}
          <div class="alert alert-success">
            <strong>Sad to see you go!</strong> Please think again before stopping subscription.
          </div>
          {% elif success %}
            <div class="alert alert-success">
            <strong>Success!</strong> Please update your information.
          </div>
          {% elif email_error %}
            <div class="alert alert-warning">
            <strong>Invalid email!</strong> Please add your information.
          </div>
          {% elif email_exists and not subscriber.subscribed %}
            <div class="alert alert-success">
            <strong>Welcome back!</strong> You can subscribe again.
          </div>
          {% elif email_exists and subscriber.subscribed %}
            <div class="alert alert-success">
            <strong>Great!</strong> You already subscribed in past.
          </div>
          {% endif %}
          <div class="row ">
              <div class="col">
                <form action="/unsubscribe/" method="post">
                    {% csrf_token %}
                    {{ form.as_p }} 
                    <input type="submit" value="Submit">
                </form>
              </div>
          </div>

         </div>
        </div>
  </div>
{% endblock content %}


{% block otherjs %}
{% endblock otherjs %}


